/* CSS file */
@namespace s "library://ns.adobe.com/flex/spark";
@namespace mx "library://ns.adobe.com/flex/mx";


global
{
	content-background-color: #000000;
	content-background-alpha: 0.1;
	font-size: 15;
}
	